.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-table-cell.ant-table-row-expand-icon-cell {
  z-index: 100;
}

h3#买入记录, h3#卖出记录 {
  color: #1890ff;
}

.ant-table-cell th {
  font-weight: bolder
}